
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("roboto light"), url("../font/roboto-300.woff2") format("woff2"), url("../font/roboto-300.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("roboto"), local("roboto regular"), url("../font/roboto-400.woff2") format("woff2"), url("../font/roboto-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("roboto medium"), url("../font/roboto-500.woff2") format("woff2"), url("../font/roboto-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("roboto bold"), url("../font/roboto-700.woff2") format("woff2"), url("../font/roboto-700.woff") format("woff");
}

@font-face {
  font-family: "icon";
  src: url("../font/icon.woff?16") format("woff");
}
