
/**
 * used for dialog overlay
 */

.loading_bar_absolute {
    position: absolute !important;
    left: 0;
    right:0;
    bottom: -4px;
    z-index:1000;
}
.loading_bar {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.loading_bar:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #4285F4;
    animation: loadingBar 2s linear infinite;
}

.Notification
{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    max-width: 480px;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}
.Notification button
{
    cursor: pointer;
}

.Notification-content
{
    display: block;
    padding: 0;
    width: 100%;
    position: relative;
}
.notification-footer {
    height: 60px;
    line-height: 58px;
    margin: 0 !important;
    text-align: right;
}

/*
.Notification-destroy {
    animation: slideright 0.5s;
    animation-fill-mode: forwards;
}
*/
.Notification-destroy {
    animation: Notification-fadeOut 1s;
    animation-fill-mode: forwards;
}

.Notification-destroy-slideRight .Notification-box {
    animation: slideright 0.5s;
    animation-fill-mode: forwards;
}


.Notification-sticker {
    border:0;
    background-color:transparent;
    position:absolute;
    max-width:400px;
    height:1px;
    z-index:1000;
}
    .Notification-sticker .Notification-box {
        padding:0;
        margin:0;
        border:0;
        background-color:transparent;
        position:absolute;
    }
    .Notification-sticker .Notification-content {
        padding:3px 5px;
        margin:0;
        position:absolute;
        border:1px solid rgba(0,0,0,0.1);
        background-color:white;
        border-radius:2px;
        text-align:center;
        box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),
            0 13px 19px 2px rgba(0,0,0,.14),
            0 5px 24px 4px rgba(0,0,0,.12);
        /* animation: Notification-bottomTop 10s;
        animation-fill-mode: forwards; */
    }

.Notification-dialog {
    /* WIP */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    background-color:rgba(0,0,0,0.2);
    max-width:100%;
    width:100%;
    height:100%;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
}
    .Notification-dialog .Notification-footer {
        border-top:1px solid rgba(0,0,0,0.1);
        padding: 14px 20px !important;
        margin: 0 !important;
    }
    .Notification-dialog .Notification-box {
        position:absolute;
        background-color:white;
        border-radius: 2px;
        top:10%;
        width:100%;
        max-width:640px;
        min-width:320px;
        left:50%;
        padding:0 !important;
        box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),
                    0 13px 19px 2px rgba(0,0,0,.14),
                    0 5px 24px 4px rgba(0,0,0,.12);
    }
    .Notification-dialog .Notification-content {
        padding:24px !important;
        width: calc(100% - 48px);
    }

.Notification.loadingOn .Notification-content {
    display:none !important;
}

#Notification-BigToast {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    z-index: 99999;
}
#Notification-BigToast .Notification {
    width:100%;
    max-width:100%;
    padding:0;
    display:block;
    color:#fff;
    border:0;
}
#Notification-BigToast .Notification-box {
    max-width:980px;
    margin:0 auto;
    width: 100%;
    padding:0;
    background-color:rgba(0,0,0,0.9);
    border-bottom:1px solid rgba(0,0,0,0.2);
    min-height: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#Notification-BigToast .Notification-content {
    flex: 1 auto;
}
#Notification-BigToast .Notification-footer {
    text-align: right;
}
#Notification-BigToast .Notification-footer,
#Notification-BigToast .Notification-content {
    padding:14px 24px;
    margin:0;
    width:auto;
}
#Notification-BigToast .Notification-footer .btn,
#Notification-BigToast .Notification-footer .btn:hover,
#Notification-BigToast .Notification-footer .btn:active {
    padding:0;
    margin:0;
    background-color:transparent;
    border:0;
    width:auto;
    color:#2196F3;
}
#Notification-BigToast .red .Notification-footer .btn,
#Notification-BigToast .error .Notification-footer .btn {
    color:#F44336;
}
#Notification-BigToast .Notification-footer .button .green {
    color:#4CAF50;
}
#Notification-BigToast .Notification-footer .button .blue {
    color:#2196F3;
}


@media (max-width: 480px) {
    .Notification-dialog .Notification-box {
        left:1% !important;
        right:1% !important;
        width:98% !important;
    }
    #Notification-BigToast .Notification-content,
    #Notification-BigToast .Notification-footer {
        flex: 1 0 0;
    }
}
